body {
    background-color: #1b8317;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: #a10f0f;
    color: rgb(255, 238, 0);
    font-family: "Bai Jamjuree", sans-serif; 
}

.passo {
    display: none;
}

.passo.ativo{
    display:block;
}